discord_token=
dev_guild_id=0
prefix=%
log_level=INFO
lead_dev_user_id=0
toes_url=
yoshimaru_url=
mongo_connection_string=mongodb://localhost:27017
mongo_database_name=BeanBotPythonDB
mongo_role_menu_collection=roleMenus
